body{
  background: rgb(26,24,64);
background: linear-gradient(90deg, rgba(26,24,64,0.9139005944174545) 0%, rgba(107,107,173,0.9110994739692753) 35%, rgba(159,151,63,0.8578781854538691) 100%);
  color: white;
}

hr {
  border-color: #dcdcec;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;
}
h1 {
  color: #66bfbf;
  font-family: "Lucida Handwriting", cursive;
}
h1:hover{
  color: white;
}

h3 {
  font-family: "Lucida Handwriting", cursive;
  color: #66bfbf;
}

a {color: yellow;}
a:hover {color: cyan;}
a:active{ color: white;}
